In [1]:
# !pip install sodapy, if it isn't already installed
# Socrata is a online server that hosts a number of datasets

import pandas as pd
from sodapy import Socrata

app_token='hIX2gB8mcj40sF80ML4xw2qzC'

client = Socrata("data.cityofchicago.org", app_token)

#'wrvz-psew' is the taxi trips dataset, and we set the limit to the number of rows of data we want
time_start=['2013-01-01','2013-02-01','2013-03-01','2013-04-01','2013-05-01','2013-06-01',
            '2013-07-01','2013-08-01','2013-09-01','2013-10-01','2013-11-01','2013-12-01',
            '2014-01-01','2014-02-01','2014-03-01','2014-04-01','2014-05-01','2014-06-01',
            '2014-07-01','2014-08-01','2014-09-01','2014-10-01','2014-11-01','2014-12-01',
            '2015-01-01','2015-02-01','2015-03-01','2015-04-01','2015-05-01','2015-06-01',
            '2015-07-01','2015-08-01','2013-05-01','2015-10-01','2015-11-01','2015-12-01',
            '2016-01-01','2016-02-01','2016-03-01','2016-04-01','2016-05-01','2016-06-01',
            '2016-07-01','2016-08-01','2016-09-01','2016-10-01','2016-11-01','2016-12-01']

time_end=['2013-02-01','2013-03-01','2013-04-01','2013-05-01','2013-06-01',
            '2013-07-01','2013-08-01','2013-09-01','2013-10-01','2013-11-01','2013-12-01',
          '2014-01-01','2014-02-01','2014-03-01','2014-04-01','2014-05-01','2014-06-01',
            '2014-07-01','2014-08-01','2014-09-01','2014-10-01','2014-11-01','2014-12-01',
            '2015-01-01','2015-02-01','2015-03-01','2015-04-01','2015-05-01','2015-06-01',
            '2015-07-01','2015-08-01','2013-05-01','2015-10-01','2015-11-01','2015-12-01',
            '2016-01-01','2016-02-01','2016-03-01','2016-04-01','2016-05-01','2016-06-01',
            '2016-07-01','2016-08-01','2016-09-01','2016-10-01','2016-11-01','2016-12-01',
         '2017-01-01']

for i in range(len(time_start)):
    results = client.get("wrvz-psew", limit=30000,
                    where='trip_start_timestamp between "{}T00:00:00.000"'.format(time_start[i])+' and "{}T00:00:00.000"'.format(time_end[i]))
    results_df = pd.DataFrame.from_records(results)
    results_df.to_csv(f'{time_start[i]}.csv')

In [ ]:
master_df=pd.DataFrame()
for time in time_start:
    df=pd.DataFrame('{}.csv'.format(time))
    master_df.merge(df,on='trip_id' how='outer')

In [33]:
new_df=results_df[['trip_id','fare','payment_type','pickup_community_area','dropoff_community_area']]
new_df[['fare']]=new_df[['fare']].apply(pd.to_numeric)
new_df.dropna(inplace=True)

C:\Users\nilay\Anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]
C:\Users\nilay\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
gb1=new_df.groupby('dropoff_community_area')
average_fare=gb1['fare'].sum()/gb1['fare'].count()
gb2=new_df.groupby('payment_type')
gb2=new_df.groupby(by=['dropoff_community_area','payment_type'])
gb2.count()

                                     trip_id   fare  pickup_community_area
dropoff_community_area payment_type
1                      Cash             1496   1496                   1496
                       Credit Card       520    520                    520
                       No Charge           9      9                      9
                       Unknown            11     11                     11
10                     Cash              263    263                    263
                       Credit Card        68     68                     68
                       No Charge           3      3                      3
                       Unknown             1      1                      1
11                     Cash              264    264                    264
                       Credit Card        53     53                     53
                       Dispute             1      1                      1
                       No Charge          31     31                     31
                       Pcard               3      3                      3
                       Unknown             2      2                      2
12                     Cash              135    135                    135
                       Credit Card        42     42                     42
                       No Charge           1      1                      1
                       Unknown             2      2                      2
13                     Cash              297    297                    297
                       Credit Card        70     70                     70
                       Dispute             1      1                      1
                       No Charge           5      5                      5
                       Unknown             8      8                      8
14                     Cash              823    823                    823
                       Credit Card       232    232                    232
                       Dispute             4      4                      4
                       No Charge          13     13                     13
                       Unknown             3      3                      3
15                     Cash              425    425                    425
                       Credit Card       118    118                    118
...                                      ...    ...                    ...
72                     Cash               15     15                     15
                       Credit Card         7      7                      7
73                     Cash               12     12                     12
                       Credit Card         5      5                      5
                       Unknown             1      1                      1
74                     Cash                3      3                      3
                       Credit Card         6      6                      6
75                     Cash               10     10                     10
                       Credit Card         8      8                      8
                       No Charge           1      1                      1
76                     Cash             4367   4367                   4367
                       Credit Card      3513   3513                   3513
                       Dispute             8      8                      8
                       No Charge          40     40                     40
                       Unknown             3      3                      3
77                     Cash             3299   3299                   3299
                       Credit Card      1045   1045                   1045
                       Dispute             4      4                      4
                       No Charge          15     15                     15
                       Pcard               2      2                      2
                       Unknown             4      4                      4
8                      Cash            62212  62212                  62212
                       Credit Card     20382  20382                  20382
                       Dispute            61     61                     61
                       No Charge         425    425                    425
                       Pcard              11     11                     11
                       Prcard              1      1                      1
                       Unknown            77     77                     77
9                      Cash               47     47                     47
                       Credit Card        23     23                     23

[287 rows x 3 columns]